.option{
    display: grid;
    grid-template-columns: repeat(200px , 1fr);
    gap: 10px;

    /* border: 1px solid rgb(218, 209, 209); */
    padding: 10px;
    width: 100%;
}
.option ul{
    font-size: 20px;
    width: 100%;
    list-style-type:circle;
    border: 1px solid rgb(179, 174, 174);
    padding: 30px;
    margin: 0;
    border-radius: 9px;
}
.option ul:hover{
background-color: rgb(88, 150, 205); 
color: white;

}