.styleLink{
    margin-left: 20px;
    margin-top: 5px;
}
.styleLink a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-size: 20px;
}
.bgNav{
    background-color: rgb(236, 230, 230);
}
@media only screen and (max-width:688px){
    .styleLink a{
        display: block;
        margin-top: 20px;
    }
}
@media screen and (min-width:687px) and (max-width:991px){
    .styleLink a{
        display: block;
        margin-top: 20px;
    }
}