.card-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;

}
@media only screen and (max-width:688px){
    .card-container{
     
        grid-template-columns: repeat(1 , 1fr);
      
    
    }
}
@media screen and (min-width:687px) and (max-width:991px){
    .card-container{
      
        grid-template-columns: repeat(2 , 1fr);
       
    
    }
}